/*aboutpage styles*/
body{
	background-image: url("bg_2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.navigation-bar>.nav-wrapper>.links-wrapper>.active a{
	color:#F3A006;
	border-bottom: 2px solid #F3A006;
}

.hero{
	display: flex;
	justify-content: center;
	margin-top: 8%;
	width: 100%;
}
.hero>.text-wrapper{
	margin-left: 18%;
	text-align: justify;
	width: 65%;
}
.hero>.text-wrapper>.text-area{
	display: flex;
	justify-content: center;
	width: 80%;
	color: #797979;
	text-align: justify;
	font-size: 1.2rem;	
}

.custom-heading-1{
	font-size:1.5rem;
}
@media(max-width:1100px){
	.hero{

	margin-top: 12%;
	
 }	
}
@media(max-width:980px){
	.hero{

	margin-top: 15%;
	
 }	
}
@media(max-width:800px){
	.hero{

	margin-top: 20%;
	
 }	
	.hero>.text-wrapper{
		width: 80%;
	}
	.hero>.text-wrapper>.text-area{
		width: 80%;
	}
}