/*aboutpage styles*/
body{
	background-image: url("bg_2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.hero{
	margin-top: 8%;
}
.hero>.text-wrapper{
	text-align: justify;
}
.hero>.text-wrapper>.text-area{
	
	color: #797979;
	text-align: justify;
	font-size: 1.2rem;	
}
.custom-heading-1{
	font-size:1.5rem;
}
