/*counsellor page styles*/
.navigation-bar>.nav-wrapper>.links-wrapper>.active a{
	color:#F3A006;
	border-bottom: 2px solid #F3A006;
}

.hero{
	display: flex;
	justify-content: center;
	width:100%;
}
.hero>.heading-wrapper{
	margin-top: 2%;
}
.hero>.heading-wrapper>.heading{
	font-size: 2rem;
	
	text-align: center;
}
.hero>.heading-wrapper>.sub-heading{
	color: #797979;
	width: 90%;
	margin:0px;
	text-align: justify;
}

.counsellors{
	display: flex;
	width:80%;
	justify-content: center;
	
}
.scroller{
	margin-left: 20%;
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

.images-collection{
	background-color: transparent;
	padding:0px 80px;
  	width: 350px;
  	height: 500px;
 	/*border: 1px solid #f1f1f1;*/
}

.images-collection>.image-wrapper{
	display: inline-block;
	position: relative;
  	width: 100%;
  	height: 430px;
  	text-align: center;
  	transition: visible 5s;
}
.images-collection>.image-wrapper> a .image-hover{
	position: absolute;
  	width: 100%;
  	height: 100%;
  	visibility: hidden;
  	/*overflow: hidden;*/
  	top:35%;
  	color:white;

}
.images-collection .image-wrapper:hover a .image-hover{
 	visibility: visible;
}

.images-collection>.image-wrapper>.image-box> img.custom-image{
	width:350px;
	height: 430px;
}
.images-collection>.image-wrapper>.titles-wrapper{
	display: flex;
	justify-content: left;
}

.images-collection>.titles-wrapper>.titles>.heading-1 a{
	font-size: 1.5rem;
	text-transform: uppercase;
	color: #06A2F3;
	text-decoration: none;
	
}
.images-collection>.titles-wrapper>.titles>.heading-2{
	text-align: left;
}
.images-collection>.titles-wrapper>.titles>.heading-2 a{ 
	font-size: 1rem;
	text-transform: uppercase;
	color: #797979;
	text-decoration: none;

}

@media(max-width:800px){
	.scroller{
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
	}
	.hero>.heading-wrapper>.sub-heading{
		width: 100%;
	}


}