/*counsellingpage styles*/
body{
	background-image: url("bg_2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.hero{
	background-color: white;
	display: flex;
	justify-content: center;
	background: rgba(255, 255, 255, 0.5);
	/*width: 100%;*/
}
.hero>.title-wrapper{
	/*margin-top: 4%;
	margin-bottom:4%;*/ 
	padding-left: 30px;
	border-left: 3px solid #F3A006;
}

.hero>.title-wrapper>.sub-title{
	font-size: 2rem;
	font-weight: 300;
	margin-bottom: 2%;
}

.hero>.title-wrapper>.title{
	font-size: 3rem;
	font-weight: 300;
}


.form-area> form .form-box>.form-group>.col-sm-8>input.form-control{
	background-color: #F5F5F5;
}


@media (max-width: 768px) {
	.form-area{
		width: 100%!important;
	}
}
/*.navigation-bar>.nav-wrapper>.links-wrapper>.active a{
	color:#F3A006;
	border-bottom: 2px solid #F3A006;
}

.hero{
	background-color: white;
	display: flex;
	justify-content: center;
	background: rgba(255, 255, 255, 0.5);
	width: 100%;
}
.hero>.title-wrapper{
	margin-top: 4%;
	margin-bottom:4%; 
	padding-left: 30px;
	border-left: 3px solid #F3A006;
}

.hero>.title-wrapper>.sub-title{
	font-size: 2rem;
	font-weight: 300;
	margin-bottom: 2%;
}

.hero>.title-wrapper>.title{
	font-size: 3rem;
	font-weight: 300;
}
.form-area{
	margin-top: 5%;
	margin-bottom: 3%;
	display: flex;
	justify-content: center;
}
.form-area> form .form-box{
	border:1px solid #707070;
	padding:40px;
	border-radius: 10px;
	background-color: white;
	background: rgba(255, 255, 255, 0.3);
}

.form-area> form .form-box>.form-row{

	display: grid;
	grid-template-columns:1fr 1fr;
    margin-bottom: 10px;
	
}
.form-area> form .form-box>.form-row>.form-element>input.form-design{
	background-color: #F5F5F5;
	border-radius: 5px;
	border:1px solid #707070;
	height: 25px;

}
.form-area> form .form-box>.form-button{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.form-area> form .form-box>.form-button button{
	border-radius: 15px;
	border:1px solid #0069D9;
	background-color: #0069D9;
	font-size: 0.8rem;
	color: white;
	padding:5px;
	width:70px;
}*/