<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Admissions</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1">

	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	 <link rel="stylesheet" type="text/css" href="custom.css">
	 <link rel="stylesheet" type="text/css" href="admission.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary pb-2 pl-5 custom-nav">
		<div class="navbar-brand bg-secondary position-absolute ml-5 custom-brand">
			KOLOS
		</div>
		<div class="navbar navbar-expand-lg navbar-dark bg-primary p-0 w-75  d-flex justify-content-start custom-nav">
			<button class="navbar-toggler custom-button" data-target="#collapsenav" data-toggle="collapse" type="button"
			aria-controls="collapsenav" aria-expanded="false" aria-label="Toggle navigation">
				☰
			</button>
			<div class="custom-nav w-100 collapse navbar-collapse text-xs-center" id="collapsenav">
				<div class="nav w-100 d-flex justify-content-around custom-nav " >
					<div class="nav-item  custom-nav-item">
						<a href="/" class="nav-link text-white">Home</a>
					</div>
					<div class="nav-item custom-nav-item ">
						<a href="/about" class="nav-link text-white">About</a>
					</div>
					<div class="nav-item custom-nav-item">
						<a href="/counselling" class="nav-link text-white">Counselling</a>
					</div>
					<div class="nav-item custom-nav-item">
						<a href="/counsellor" class="nav-link text-white">Counsellor</a>
					</div>
					<div class="nav-item custom-nav-item active">
						<a href="/admission" class="nav-link text-white">Admission</a>
					</div>
					<div class="nav-item custom-nav-item">
						<a href="/kolos" class="nav-link text-white">Kolos</a>
					</div>
					<div class="nav-item custom-nav-item">
						<a href="/careers" class="nav-link text-white">Career</a>
					</div>
					<div class="nav-item custom-nav-item">
						<a href="/contacts" class="nav-link text-white">Contact</a>
					</div>
				</div>		
			</div>
		</div>
	</nav>

	<section class="hero container">
		<div class="body-wrapper">
			<div class="heading">
				<div class="header">
					Get admitted in reputed institutes across the country.
				</div>
			</div>	
		</div>
	</section>

	<section class="form-area container  p-5 w-50">
		<form method="POST" action="/admission">
			<div class="form-box border p-5">
				<div class="form-group row">
					 <div class="col-lg-4 col-form-label">
					 	<label>Name:</label>	
					 </div>
					  <div class="col-sm-8 ">
					 	<input type="text" name="name" class="form-control">	
					 </div>	
				</div>
				<div class="form-group row">
					 <div class="col-lg-4 col-form-label">
					 	<label>Course preferred:</label>	
					 </div>
					  <div class="col-sm-8 ">
					 	<input type="text" name="course" class="form-control">	
					 </div>	
				</div>
				<div class="form-group row">
					 <div class="col-sm-4 col-form-label">
					 	<label>Email:</label>	
					 </div>	
					  <div class="col-sm-8">
					 	<input type="email" name="email"  class="form-control">
					 </div>	
				</div>
				<div class="d-flex justify-content-center">
					<button class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</section>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>