<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Home</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1">

	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	 <link rel="stylesheet" type="text/css" href="common.css">
	 <link rel="stylesheet" type="text/css" href="nav.css">
	 <link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>
	<header>
		<nav class="navigation-bar">
			<div class="nav-wrapper">
				<div class="brand">
					<div class="brand-text">
						<a href="/">KOLOS</a>
					</div>
				</div>
				<input id="toggle" type="checkbox">	
				<label class="menu-button" for="toggle"><i class="fa fa-bars" aria-hidden="true"></i></label>	
				<div class="links-wrapper" id="expand">
					<div class="nav-link active">
						<a href="/">Home</a>
					</div>
					<div class="nav-link">
						<a href="/about">About</a>
					</div>
					<div class="nav-link">
						<a href="/counselling">Counselling</a>
					</div>
					<div class="nav-link">
						<a href="/counsellor">Counsellor</a>
					</div>
					<div class="nav-link">
						<a href="/admission">Admission</a>
					</div>
					<div class="nav-link">
						<a href="/kolos">Kolos</a>
					</div>
					<div class="nav-link">
						<a href="/careers">Careers</a>
					</div>
					<div class="nav-link">
						<a href="/contacts">Contacts</a>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<section class="hero">
		<div class="body-wrapper">
			<div class="title">
				KOLOS
			</div>
			<div class="sub-title">
				Where <span class="highlight">dreams</span> and <span class="highlight">dedication</span> matters!
			</div>	
		</div>
	</section>

</body>
</html>